# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VSC stuff

.vscode

# Jupyter Notebook
.ipynb_checkpoints
baseNN.ipynb

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

